*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-size: 1rem;
    color: #000000;
    padding: 2rem 5rem;
    padding-bottom: 0rem;
}

/* header */
header{
    width: 100%;
    display: flex;
    gap: 30%;
    
}

img{
    width: 70%;
}

header #logo{
    width: 15%;
}

#logo img{
    width: 80%;
}

ul{
    display: flex;
    gap: 2rem;
}

ul li{
    list-style: none;
    font-weight: 600;

}

a{
    text-decoration: none;
    color: #000000;
}

/* button */

.btn{
    width: 10rem;
    height: 2rem;
    color: #ffffff;
    font-weight: 600;
    background-color: rgb(65, 190, 65);
    padding: 0.5rem 0.7rem;
    border-radius: 1rem;
    border: 1px solid rgb(65, 190, 65);
    cursor: pointer;
}
